<!DOCTYPE html>
<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org"
>
<head>
    <meta charset="UTF-8">
    <title>Weather Table</title>
    <link th:href="@{../static/css/table_style.css}" rel="stylesheet" />
</head>
<body>
    <table>
        <tr>
            <th>City Name</th>
            <th>Max temperature</th>
            <th>Min temperature</th>
            <th>Precip</th>
        </tr>
        <tr th:each="city:${list}">
            <td th:text="${city.getCityName()}"></td>
            <td th:text="${city.getMaxTemp()}"></td>
            <td th:text="${city.getMinTemp()}"></td>
            <td th:text="${city.getPrecip()}"></td>

        </tr>
    </table>
</body>
</html>